* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html {
  color: #333;
  font-size: 70.5%;
  font-family: 'Open Sans', sans-serif;
  
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../images/background_login.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.form {
  width: 400px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 4px 6px 5px 0 rgba(117, 119, 121, 0.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #1900ff;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}
.error{
  color: red;
  font-weight: bold;
  margin-left: 6%;
 
  font-size: 15px;
}
.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #df2c14;
  border: 1px solid rgb(29, 28, 28);
  box-shadow: 2px 3px 4px #ddd;
}
.form-submit2 {
  outline: #eee;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit2:hover {
  background-color: #45c42c;
  border: 1px solid #000;
  box-shadow: 2px 3px 4px #ddd;
}

.spacer {
  margin-top: 36px;
}